[Unit]
Description=Enable the web interface on boot

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/webinterface-onboot

[Install]
WantedBy=multi-user.target